#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: #99ABE5;
  background-image: url("../images/cartographer.png");
  margin-top:120px;
}

#header .name {
  color: #ffffff;
  text-align: center;
}

#header img {
  height:200px;
  width: auto;
}