#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 400px;
  width: 100%;

  background-color: #99ABE5;
  background-image: url("../images/cartographer.png");
}

#header .name {
  color: #ffffff;
}

#profilePic {
  height:200px;
  width: auto;
}