@media only screen and (min-width: 1024px) {

  /* #body {
    display: flex;
    flex-direction: column;
  } */

  #header {
    display: flex;
    flex-direction: column;
    width: 40%;
    float: left;
    margin-top:120px;
    padding-left:30px;
    padding-right:30px;
    height: 600px;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 60%;
    float: right;
    margin-top:120px;
    padding-left:30px;
    padding-right:30px;
    font-size: 135%;
  }
 }