@media only screen and (min-width: 1024px) {

  #header {
    display: flex;
    flex-direction: column;
    width: 40%;
    float: left;
    padding: 25px;
    height: 600px;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 60%;
    float: right;
    padding: 25px;
    font-size: 135%;
  }
 }