#tweet {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 60px;
  border: solid;
  filter: blur(.25px);
  opacity: .75;
}

#tweet:hover {
  opacity: 1;
  filter: blur(0px);
  box-shadow: 8px 8px #99ABE5;
}

#tweet:hover header .username {
  opacity: 1;
}

#tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#tweet header .picAndName {
  display:flex;
  align-items: center;
}

#tweet header .picAndName img {
  height:2em;
  margin-right:1em;
}

#tweet header .username {
  color: #99ABE5;
  opacity: 0;
}

#tweet p.tweetBody {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  font-size: 26px;
}

#tweet footer {
  border-top: solid;
  padding-top: 10px;
  padding-bottom: 15px;
}

#tweet footer .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}

#tweet .icons {
  color: #4056A1;
}